
// styles for the 404 component.
#fof{
  background-color: transparentize(white, 0.45);
  font-family: Bungee-Regular, AtomicAge-Regular, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 500%;
  color: #160521;
}